{% extends 'agora/base_template.html' %}

{% block title %}
{{ group.name }} Members
{% endblock %}


{% block body_block %}

{% include "agora/grouppath/pathto_ul.html" %}
<h1>
    <a href="/agora/groups/{{ group.id }}/">
        {{ group.name }}
    </a> Rules</h1>

<p>In Voteflow groups have "rules" or "permissions" that say who may create/delete posts, topics,
    or perform other actions inside that group <br>
    Each member of a group also has a "level" for their group.
</p>
<p>
    Your level must be at least as high as the rule to perform an action.<br>
    In this group, your level must be at least equal to "edit_rules" to make any changes on this page.
</p>

{% for rule in group.permission_reqs.all %}
{{ rule.name }} requires level {{ rule.level }} <br>
{% endfor %}
<form action="setrule_submit/" method="post" role="form">{% csrf_token %}
    <select name="rule">
        <option value="add_post">New Post</option>
        <!--<option value="add_vote">Vote</option>
        <option value="add_comment">Comment on post</option>-->
        <option value="add_subgroup">New SubGroup</option>
        <option value="approve_application">Approve Membership Application</option>
        <option value="edit_rules">Edit Rules</option>
        <option value="edit_member_levels">Edit Groups Members levels</option>
    </select>
    requires level:
    <input name="level" type="number">
    <input type="submit" value="Set"/>
</form>


{% endblock %}
