
body { background: #ffffff; }

.cont {
  width: 93%;
  max-width: 350px;
  text-align: center;
  margin: 4% auto;
  padding: 30px 0;
  background: #7ea0ff;
  color: #EEE;
  border-radius: 5px;
  border: thin solid #444;
  overflow: hidden;
}

hr {
  margin: 20px;
  border: none;
  border-bottom: thin solid rgba(255,255,255,.1);
}

div.title { font-size: 2em; }

h1 span {
  font-weight: 300;
  color: #Fd4;
}




#container {
  width: 100px;
  height: 20px;
  position: relative;
  display: inline-block;
}
#navi,
#infoi {
  width: 100px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
#infoi {
  z-index: 10;
  background-image: url("/static/agora/img/emptystars.png");
}
#navi {
  background-image: url("/static/agora/img/stars.png");
}