
body { background: #ffffff; }

.cont {
  width: 93%;
  max-width: 350px;
  text-align: center;
  margin: 4% auto;
  padding: 30px 0;
  background: #7ea0ff;
  color: #EEE;
  border-radius: 5px;
  border: thin solid #444;
  overflow: hidden;
}

hr {
  margin: 20px;
  border: none;
  border-bottom: thin solid rgba(255,255,255,.1);
}

div.title { font-size: 2em; }

h1 span {
  font-weight: 300;
  color: #Fd4;
}



.topicminititle {
  font-size: 150%;
}
.postminititle {
  font-size: 150%;
}
.ilb {
  display: inline-block;
  vertical-align: text-top;
  border-radius: 4px;
  border-width: 1px;
  padding: 4px;

  margin-left: 2px;
  border: #bdb8b2 1px solid;
  text-align: center;
  margin-left: 0.4em;
  box-shadow: -4px 4px 5px rgba(50, 50, 50, 0.2);
}
.ilb h2{
  background-color: transparent;
  box-shadow: none;
  padding: 2px;
  margin: 2px;
}
#starscontainer {
  width: 100px;
  height: 20px;
  position: relative;
  display: inline-block;
}
#fullstars,
#emptystars {
  width: 100px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
#emptystars {
  z-index: 10;
  background-image: url("/static/agora/img/emptystars.png");
}
#fullstars {
  background-image: url("/static/agora/img/stars.png");
}

ul {
  list-style-type: none;
}

.miniul li {

  padding: 5px;
  margin-left: 2px;
  border-radius: 4px;
  border: #bdb8b2 1px solid;
  margin-left: 0.4em;
  box-shadow: -4px 4px 5px rgba(50, 50, 50, 0.2);
}


#mainContentPanel {
  padding: 5px;
  margin-left: 2px;
  border-radius: 4px;
  border: #bdb8b2 1px solid;
  margin-left: 0.4em;
  box-shadow: -4px 4px 5px rgba(50, 50, 50, 0.2);
}

.floatonright {
  padding: 5px;
  margin-left: 2px;
  border-radius: 4px;
  border: #bdb8b2 1px solid;
  margin-left: 0.4em;
  box-shadow: -4px 4px 5px rgba(50, 50, 50, 0.2);
    float: right;
}