{% extends 'agora/base_template.html' %}

{% block title %}
    Groups
{% endblock %}


{% block body_block %}
    <h2>Groups</h2>
    {% if group_list %}
        <ul class="miniul">
            {% for group in group_list %}
                <li>
                    {% include "agora/inc_group_mini.html" with  group=group %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No groups found...</p>
    {% endif %}

    <a href="/agora/groups/new/">New Group</a>

{% endblock %}
