{% extends 'agora/base_template.html' %}

{% block title %}
    Topics
{% endblock %}


{% block body_block %}

    <h2 id="topicstitle">Topics</h2>

<p id="topicsp"><a href="forcearrows">Representation Map</a><br>
        <a href="/agora/all_topics/sunburst/">Show Sunburst Map</a></p>
    <p>
    {% if recur %}
        <a href="/agora/topics/">Hide sub-topics</a>
    {% else %}
        <a href="/agora/all_topics/">Show Full Tree</a>
    {% endif %}
    </p>

<p id="sortmethods">sort method: {{ sort_method }} (
    <a href="/agora/{{ tpage }}/sort/created_at/">created_at</a>
    <a href="/agora/{{ tpage }}/sort/subscription_set/">subscription_set</a>
    <a href="/agora/{{ tpage }}/sort/post_set/">post_set</a>
    )</p>

{% if topic_list %}
    <ul class="miniul" id="topicslist">
        {% for topic in topic_list %}
            <li>
                {% if recur %}
                    {% include "agora/inc_topic_mini_recur.html" with  topic=topic %}
                {% else %}
                    {% include "agora/inc_topic_mini.html" with  topic=topic %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No sub-topics found...</p>
{% endif %}

    <a id="newtopiclink" href="/agora/topics/new/">
                <button id="newtopicbutton" type="button" class="btn btn-info">New Topic
        </button>
    </a>


{% endblock %}
