{% extends 'agora/base_template.html' %}
{% block title %}
    New Post
{% endblock %}

{% block head_block %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'agora/fontawesome/css/font-awesome.css' %}"/>
    {% include 'agora/util/hallohead.html' %}


{% endblock %}

{% block body_block %}
    <div>
    {% if topic %}
    In Topic:
        {% include "agora/topicpath/fullpath_ul.html" %}
    {% endif %}
    {% if group %}
    In Group:
        {% include "agora/inc_group_mini.html" %}
    {% endif %}
    <h3>New <span id="title_type">Post</span></h3>
    <form action="newpost_submit/" method="post">
        {% csrf_token %}
        <input name="topic_id" type="hidden" value="{{ topic.id }}"/>
        <input name="group_id" type="hidden" value="{{ group.id }}"/>
        <div>
            <div class="radio" style="display: inline-block;">
              <label><input checked id="type_post" type="radio" value="post" name="subtype">Post</label>
            </div>
            <div class="radio" style="display: inline-block;">
              <label><input id="type_poll" type="radio" value="poll" name="subtype">Poll</label>
            </div>
            <div class="radio" style="display: inline-block;">
              <label><input id="type_prop" type="radio" value="proposal" name="subtype">Proposal</label>
            </div>
        </div>

        <h2><input name="text" class="titleinput" type="text" value="title"/></h2>
<div class="container-fluid">
    <div id="post_left" class="post_left col-md-4" style="display: none;">
        <h2>Benifits</h2>
        </div>
    <div id="post_middle" class="post_middle col-md-12">
        <br>

        {% include "agora/util/halloitem.html" with itemid=post rname="body_text" initial_text="Type Post Body Here." %}

        <br>
        <br>
        </div>
    <div id="post_right"  class="post_right col-md-4" style="display: none;">
        <h2>Concerns</h2>
        </div>
    <div id="post_options"  class="post_right col-md-4" style="display: none;">
        <h2>Options</h2>
        </div>
        </div>
        <input type="submit" value="Submit"/>
    </form>
</div>


<script>

        jQuery(document).ready(function () {
            function set_subtype() {
                var pbox = $(this).parent();
                console.log("pbox");
                console.log(pbox);
                var name = pbox[0].textContent;
                console.log(name);
                var subtype = $(this)[0].id
                console.log(subtype);
                $("#title_type").text(pbox[0].textContent);
                if (subtype=="type_post"){
                    $("#post_left").hide()
                    $("#post_right").hide()
                    $("#post_options").hide()
                    $("#post_middle").removeClass("col-md-4")
                    $("#post_middle").removeClass("col-md-8")
                    $("#post_middle").addClass("col-md-12")
                }
                if (subtype=="type_poll"){
                    $("#post_left").hide()
                    $("#post_right").hide()
                    $("#post_options").show()
                    $("#post_middle").removeClass("col-md-4")
                    $("#post_middle").removeClass("col-md-12")
                    $("#post_middle").addClass("col-md-8")
                }
                if (subtype=="type_prop"){
                    $("#post_left").show()
                    $("#post_right").show()
                    $("#post_options").hide()
                    $("#post_middle").removeClass("col-md-4")
                    $("#post_middle").removeClass("col-md-12")
                    $("#post_middle").addClass("col-md-4")
                }
            }
            $('#type_poll').click(set_subtype);
            $('#type_post').click(set_subtype);
            $('#type_prop').click(set_subtype);
        });

    </script>
{% endblock %}