{% extends 'agora/base_template.html' %}
{% block title %}
    New Group
{% endblock %}

{% block head_block %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'agora/fontawesome/css/font-awesome.css' %}"/>
    {% include 'agora/util/hallohead.html' %}

{% endblock %}

{% block body_block %}
    <h3>New Group</h3>
    {% if group %}
    In Group:
        {% include "agora/inc_group_mini.html" %}
    {% endif %}
    <form action="newgroup_submit/" method="post">
        {% csrf_token %}
        <input type="hidden" name="group_id" value="{{ group.id }}" />
        <h2>Group Name:<input name="text" class="titleinput" type="text" value="title"/></h2>
        <br>
        <div>
            <h4>Group Type:</h4>
            <div class="radio" style="display: inline-block;">
              <label><input checked id="type_curated" type="radio" value="curated" name="subtype">Curated</label>
            </div>
            <!--<div class="radio" style="display: inline-block;">
              <label><input id="type_democratic" type="radio" value="democratic" name="subtype">Democratic</label>
            </div>-->
            <div class="radio" style="display: inline-block;">
              <label><input id="type_public" type="radio" value="public" name="subtype">Public</label>
            </div>
        </div>
        {% include "agora/util/halloitem.html" with itemid=group rname="body_text" initial_text="Type Group Info Here." %}

        <br>
        <br>
        <input type="submit" value="Submit"/>
    </form>

{% endblock %}