{% extends 'agora/base_template.html' %}
{% block title %}
    New Group
{% endblock %}

{% block head_block %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'agora/fontawesome/css/font-awesome.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'agora/css/hallo.css' %}"/>
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script src="http://rangy.googlecode.com/svn/trunk/currentrelease/rangy-core.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'agora/fontawesome/css/font-awesome.css' %}"/>
    <script src="{% static 'agora/js/hallo-min.js' %}"></script>
    <script src="{% static 'agora/js/showdown.js' %}"></script>
    <script src="{% static 'agora/js/to-markdown.js' %}"></script>

{% endblock %}

{% block body_block %}
    <h3>New Group</h3>
    {% if group %}
    In Group:
        {% include "agora/inc_group_mini.html" %}
    {% endif %}
    <form action="newgroup_submit/" method="post">
        {% csrf_token %}
        <input type="hidden" name="group_id" value="{{ group.id }}" />
        <h2>Group Name:<input name="text" class="titleinput" type="text" value="title"/></h2>
        <br>
        <div>
            <h4>Group Type:</h4>
            <div class="radio" style="display: inline-block;">
              <label><input checked id="type_curated" type="radio" value="curated" name="subtype">Curated</label>
            </div>
            <!--<div class="radio" style="display: inline-block;">
              <label><input id="type_democratic" type="radio" value="democratic" name="subtype">Democratic</label>
            </div>
            <div class="radio" style="display: inline-block;">
              <label><input id="type_public" type="radio" value="public" name="subtype">Public</label>
            </div>-->
        </div>
        <!--<article>
            Text:
            <div class="editable postpreview">
                <p>
                    text
                </p>
            </div>
        </article>
        <button type="button" class="btn btn-info" data-toggle="collapse"
                data-target="#post-source-panel">
            Show Source
        </button>
        <div id="post-source-panel" class="collapse">
            Source:<br>
    <textarea name="body_text" id="source">
    </textarea>
        </div>-->

        <br>
        <br>
        <input type="submit" value="Submit"/>
    </form>
<!--
    <script>
        jQuery(document).ready(function () {
            // Enable Hallo editor
            jQuery('.editable').hallo({
                plugins: {
                    'halloformat': {},
                    'halloheadings': {},
                    'hallolists': {},
                    //'halloblacklist': {"tags":["div"]},
                    'hallo-image-insert-edit': {},
                    'hallolink': {},
                    'halloreundo': {}
                },
                toolbar: 'halloToolbarFixed'
            });

            var markdownize = function (content) {
                var html = content.split("\n").map($.trim).filter(function (line) {
                    return line != "";
                }).join("\n");
                //next line for chrome...
                html = html.replace(/\<div\>/g, "<br>").replace(/\<\/div\>/g, "");
                //console.log(html)
                return toMarkdown(html);
            };

            var converter = new Showdown.converter();
            var htmlize = function (content) {
                return converter.makeHtml(content);
            };

            // Method that converts the HTML contents to Markdown
            var showSource = function (content) {
                var markdown = markdownize(content);
                if (jQuery('#source').get(0).value == markdown) {
                    return;
                }
                jQuery('#source').get(0).value = markdown;
            };


            var updateHtml = function (content) {
                if (markdownize(jQuery('.editable').html()) == content) {
                    return;
                }
                var html = htmlize(content);
                jQuery('.editable').html(html);
            };

            // Update Markdown every time content is modified
            jQuery('.editable').bind('hallomodified', function (event, data) {
                showSource(data.content);
            });
            jQuery('#source').bind('keyup', function () {
                updateHtml(this.value);
            });
            showSource(jQuery('.editable').html());
        });

    </script>-->
{% endblock %}