{% extends 'agora/base_template.html' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block head_block %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'agora/fontawesome/css/font-awesome.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'agora/css/hallo.css' %}"/>
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script src="http://rangy.googlecode.com/svn/trunk/currentrelease/rangy-core.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'agora/fontawesome/css/font-awesome.css' %}"/>
    <script src="{% static 'agora/js/hallo-min.js' %}"></script>
    <script src="{% static 'agora/js/showdown.js' %}"></script>
    <script src="{% static 'agora/js/to-markdown.js' %}"></script>

{% endblock %}

{% block body_block %}
    <div>
    In Topic:
        {% include "agora/topicpath/fullpath_ul.html" %}
    <h3>New <span id="title_type">Post</span></h3>
    <form action="newpost_submit/" method="post">
        {% csrf_token %}
    <div>
        <div class="radio" style="display: inline-block;">
          <label><input checked id="type_post" type="radio" value="post" name="subtype">Post</label>
        </div>
        <div class="radio" style="display: inline-block;">
          <label><input id="type_poll" type="radio" value="poll" name="subtype">Poll</label>
        </div>
        <div class="radio" style="display: inline-block;">
          <label><input id="type_prop" type="radio" value="proposal" name="subtype">Proposal</label>
        </div>
        </div>

        <h2><input name="text" class="titleinput" type="text" value="title"/></h2>
<div class="container-fluid">
    <div id="post_left" class="post_left col-md-4" style="display: none;">
        <h2>Benifits</h2>
        </div>
    <div id="post_middle" class="post_middle col-md-12">
        <br>
        <article>
            <div class="editable postpreview">
                <p>
                    text
                </p>
            </div>
        </article>
        <button type="button" class="btn btn-info" data-toggle="collapse"
                data-target="#post-source-panel">
            Show Source
        </button>
        <div id="post-source-panel" class="collapse">
            Source:<br>
    <textarea name="body_text" id="source">
    </textarea>
        </div>

        <br>
        <br>
        </div>
    <div id="post_right"  class="post_right col-md-4" style="display: none;">
        <h2>Concerns</h2>
        </div>
    <div id="post_options"  class="post_right col-md-4" style="display: none;">
        <h2>Options</h2>
        </div>
        </div>
        <input type="submit" value="Submit"/>
    </form>
</div>
    <script>
        jQuery(document).ready(function () {
            // Enable Hallo editor
            jQuery('.editable').hallo({
                plugins: {
                    'halloformat': {},
                    'halloheadings': {},
                    'hallolists': {},
                    //'halloblacklist': {"tags":["div"]},
                    'hallo-image-insert-edit': {},
                    'hallolink': {},
                    'halloreundo': {}
                },
                toolbar: 'halloToolbarFixed'
            });

            var markdownize = function (content) {
                var html = content.split("\n").map($.trim).filter(function (line) {
                    return line != "";
                }).join("\n");
                //next line for chrome...
                html = html.replace(/\<div\>/g, "<br>").replace(/\<\/div\>/g, "");
                //console.log(html)
                return toMarkdown(html);
            };

            var converter = new Showdown.converter();
            var htmlize = function (content) {
                return converter.makeHtml(content);
            };

            // Method that converts the HTML contents to Markdown
            var showSource = function (content) {
                var markdown = markdownize(content);
                if (jQuery('#source').get(0).value == markdown) {
                    return;
                }
                jQuery('#source').get(0).value = markdown;
            };


            var updateHtml = function (content) {
                if (markdownize(jQuery('.editable').html()) == content) {
                    return;
                }
                var html = htmlize(content);
                jQuery('.editable').html(html);
            };

            // Update Markdown every time content is modified
            jQuery('.editable').bind('hallomodified', function (event, data) {
                showSource(data.content);
            });
            jQuery('#source').bind('keyup', function () {
                updateHtml(this.value);
            });
            showSource(jQuery('.editable').html());

            function set_subtype() {
                var pbox = $(this).parent();
                console.log("pbox");
                console.log(pbox);
                var name = pbox[0].textContent;
                console.log(name);
                var subtype = $(this)[0].id
                console.log(subtype);
                $("#title_type").text(pbox[0].textContent);
                if (subtype=="type_post"){
                    $("#post_left").hide()
                    $("#post_right").hide()
                    $("#post_options").hide()
                    $("#post_middle").removeClass("col-md-4")
                    $("#post_middle").removeClass("col-md-8")
                    $("#post_middle").addClass("col-md-12")
                }
                if (subtype=="type_poll"){
                    $("#post_left").hide()
                    $("#post_right").hide()
                    $("#post_options").show()
                    $("#post_middle").removeClass("col-md-4")
                    $("#post_middle").removeClass("col-md-12")
                    $("#post_middle").addClass("col-md-8")
                }
                if (subtype=="type_prop"){
                    $("#post_left").show()
                    $("#post_right").show()
                    $("#post_options").hide()
                    $("#post_middle").removeClass("col-md-4")
                    $("#post_middle").removeClass("col-md-12")
                    $("#post_middle").addClass("col-md-4")
                }
            }
            $('#type_poll').click(set_subtype);
            $('#type_post').click(set_subtype);
            $('#type_prop').click(set_subtype);
        });

    </script>
{% endblock %}