{% extends 'agora/base_template.html' %}

{% block title %}
    {{ group.name }}
{% endblock %}
{% load cmarkdown %}

{% block body_block %}
        {% include "agora/grouppath/pathto_ul.html" %}
<div class="group_top_part">
<h2>
    <a href="/agora/groups/{{ group.id }}/">
        {{ group.name }}
    </a></h2>
    <div>
                {{ group.safetext|markdown }}
    </div>
    {% if membership %}
        You are a member of this group. Your level is: {{ membership.level }}
            <button type="button" class="btn btn-info" data-toggle="collapse"
                data-target="#lg-colap">
            Leave Group.
        </button>
        <div id="lg-colap" class="collapse">
        <a href="#" class="quitgroupbutton">
            <button type="button" class="btn btn-info">Confirm. I really want to leave the group.</button>
        </a>
        </div>
    {% else %}
        {% if pending_membership %}
            You have requested to join this group. <a href="#" class="quitgroupbutton">Cancel</a>
        {% else %}
            You are not a member of this group. <a href="#" class="quitgroupbutton">Join Group</a>
        {% endif %}
    {% endif %}
    <br>
    <span><a href="members/">{{ group.memberships.all|length }} Members</a> <a href="pending_members/">({{ group.applications.all|length }} Pending)</a></span><br>

    <span><a href="rules/">{{ group.permission_reqs.all|length }} Rules</a></span><br>
</div>
<br><span> author: <a href="/agora/user/{{ group.author.pk }}/">
    {{ group.author.username }} </a> @ {{ group.created_at }}</span>
<br> <span>type: {{ group.subtype }}</span>
<br> <span>sub-groups: {{ group.group_set.all|length }} Posts {{ group.post_set.all|length }} </span>
<br>
        <h3>Sub Groups</h3>
    {% if group_list %}
        <div class="mincotopicholder">
            {% for group in group_list %}
                {% include "agora/groups/inc_micro.html" %}
            {% endfor %}
        </div>.<br>
    {% else %}
        <p>No sub-groups found...</p>
    {% endif %}
    <a href="/agora/groups/new/?group_id={{ group.id }}">
        <button type="button" class="btn btn-info">New Group
        </button>
    </a>

    <div>
    <h3 style="display: inline-block">Posts</h3>
        <a style="display: inline-block" href="/agora/newpost/?group_id={{ group.id }}">
            <button id="newpostbutton" type="button" class="btn btn-info">New Post
            </button>
        </a>
    </div>

    {% include 'agora/inc_post_list.html' with divid='mainpostlist' %}

    <div style="clear: both;"></div>


    <script>
    function quickgroupclick(event){
        $.post( "join_group/", {
            }, function( data ) {
          location.reload();
        });
    }
        $('.quitgroupbutton').click(quickgroupclick);
    </script>

{% endblock %}
