<!--postfilter
{"parent":null }
-->
    {% load staticfiles %}
<div id="{{ divid }}" class="postlistintopics" data-table="Post" data-rtype="html"
		data-sortby="-liquid_sum" data-startat="0" data-template="api_post_list"
		data-filter='{{ postfilter }}'>

	Sorting <select name="SortMethods" id="sortbox">
	<option value="-liquid_heat">Heat</option>
	<option value="-liquid_value">Rating</option>
	<option value="-liquid_sum">Top</option>
	<option value="-created_at">Newest</option>
	<option value="created_at">Oldest</option>
	<option value="-liquid_heat">Direct Heat</option>
	<option value="-direct_value">Direct Rating</option>
	<option value="-direct_sum">Direct Top</option>
</select>
	{% if not hidecompleted %}
	<button id="completed_toggle" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"
			autocomplete="off">
		Completed
	</button>
	{% endif %}
	<button id="gobutton" type="button" class="btn btn-info">
		Go
	</button>
	<ul id="topicslist" class="miniul">
	{% if items %}
		{% for child_post in items %}
			{% if recur_posts %}
				<li>{% include "agora/inc_post_mini_recur.html" with  post=child_post %}</li>
			{% else %}
				<li>{% include "agora/inc_post_mini.html" with  post=child_post %}</li>
			{% endif %}
		{% endfor %}
	{% endif %}
	</ul>
	<button id="prevbutton" type="button" class="btn btn-info">
		Previous
	</button>
	<button id="nextbutton" type="button" class="btn btn-info">
		Next
	</button>
          <div id="popoverVoteContent" style="display: none">
			  <div class="votepics">
            <img onclick="dovote(this)" class="notsvg" src="{% static 'agora/img/ratings/1.svg' %}" />
            <img onclick="dovote(this)" class="notsvg" src="{% static 'agora/img/ratings/2.svg' %}" />
            <img onclick="dovote(this)" class="notsvg" src="{% static 'agora/img/ratings/3.svg' %}" />
            <img onclick="dovote(this)" class="notsvg" src="{% static 'agora/img/ratings/4.svg' %}" />
            <img onclick="dovote(this)" class="notsvg" src="{% static 'agora/img/ratings/5.svg' %}" />
            <img onclick="dovote(this)" class="notsvg" src="{% static 'agora/img/ratings/6.svg' %}" />
            <img onclick="dovote(this)" class="notsvg" src="{% static 'agora/img/ratings/7.svg' %}" >
				</div>
              <div> <span class="customvotecontent"></span></div>
</div>

              <script>
              function dovote(item){
              console.log("-------");
              console.log(item);
        var voteint = parseInt(item.src.split("/").pop().split(".")[0])
        console.log(voteint);
        var perc = (voteint-1)/6.0*100.0;
        console.log(perc);

        var pid = parseInt(item.parentNode.getAttribute("postid"));
        console.log(pid);

        //var token = $("{% csrf_token %}");
        //console.log(token);
        //console.log(token[0]["value"]);
        $.get( "/agora/posts/"+pid+"/easyvote/", {
            "voteslider":perc//,
            //"csrfmiddlewaretoken":token[0]["value"]
            }, function( data ) {
          //$( ":root" ).html( data );
          location.reload();
        });
              }
    console.log($(".quickvotelink"));
    function setup_vote_popovers(){
		$(".quickvotelink").popover({
			html : true,
			content: function() {
			  var a = $('#popoverVoteContent')[0];
				console.log(a);
				//b = a.getElementsByClassName("customvotecontent")[0];
				//c = a.parent
				//get title and id of post here
				//b.textContent = $(this).text()
				//console.log($(this).text());
				//setTimeout(
				var votepicsdiv = a.getElementsByClassName("votepics")[0];
				console.log($(this));
				var postid = $(this)[0].parentElement.dataset['postid']
				votepicsdiv.setAttribute("postid", postid)
			  return $('#popoverVoteContent').html();
			},

			title: function() {
			var a = $(this)[0];
			console.log(a);
			b=a.parentElement.parentElement.parentElement.getElementsByClassName("postminititle")[0]
			  return "Vote on: "+b.textContent;
			}
		});
	};
	setup_vote_popovers();

              </script>
<script>
	//#/agora/basic_api/?table=Post&template=api_post_list&rtype=html&sortby=-liquid_sum&startat=39

	//console.log($(this)[0].id);
	//console.log($(this));
	function load_page(pbox) {
		var datain = {}
		datain['table'] = pbox.data('table');
		console.log(pbox);
		datain['sortby'] = pbox.find("#sortbox")[0].value;
		console.log("---sortby---");
		console.log(datain['sortby']);
		datain['startat'] = pbox.data('startat');
		datain['rtype'] = pbox.data('rtype');
		console.log("--data-template---");
		console.log("{{ datatemplate }}");
		{% if datatemplate %}
			datain['template'] = "{{ datatemplate }}";
		{% else %}
			datain['template'] = pbox.data('template');
		{% endif %}
		var filter = [pbox.data('filter')];
	{% if not hidecompleted %}
		cbox = pbox.find("#completed_toggle")[0]
		console.log(cbox)
		//filter={};
		if ($(cbox).hasClass('active')) {
			console.log("checked");
			cfil = {}
			cfil['tag__liquid_value__gte'] = -.1;
			cfil['tag__name'] = "completed";
			filter.push(cfil)
			console.log(filter)
		} else {
			console.log("EMPTY");
			exclude = {}
			exclude['tag__liquid_value__gte'] = -.1;
			exclude['tag__name'] = "completed";
			datain['exclude'] = JSON.stringify(exclude);
			console.log("EXCLUDE");
			console.log(exclude)
		}
	{% endif %}
	{% if filtertopic %}
			tfil = {}
			tfil['topic'] = {{ filtertopic.id }};
			filter.push(tfil)
	{% endif %}
	{% if parentpost %}
			pfil = {}
			pfil['parent'] = "{{ parentpost.id }}";
			filter.push(pfil)
	{% endif %}

		console.log("FILTER");
		console.log(filter);

		datain['filter'] = JSON.stringify(filter);
		console.log(datain['filter']);
		$.ajax({
			url: "/agora/basic_api/"
			, data: datain
			, context: pbox,
			success: function (result) {
				if (result.length > 200) {
					console.log($(this))
					$(this).find("#topicslist").html(result);
					setup_vote_popovers();
                	//$('.notsvg').click(pvoteclick);
				} else {
					$(this).find("#topicslist").html(result);
					console.log("RESULT TOO SMALL - empty")
					var pbox = $(this);
					var ns = pbox.data('startat') - 10;
					if (ns < 0)ns = 0
					pbox.data('startat', ns);

				}
			}
		});


	}
	function next_page() {
		var pbox = $(this).parent();
		console.log("pbox");
		console.log(pbox);
		var ns = pbox.data('startat') + 10;
		if (ns < 0)ns = 0
		pbox.data('startat', ns);
		load_page(pbox)
	}
	function prev_page() {
		var pbox = $(this).parent();
		console.log("pbox");
		console.log(pbox);
		var ns = pbox.data('startat') - 10;
		if (ns < 0)ns = 0
		pbox.data('startat', ns);
		load_page(pbox)
	}
	function go_page() {
		console.log($(this));
		var pbox = $(this).parent();
		pbox.data('startat', 0);
		load_page(pbox)
	}
	$('#nextbutton').click(next_page);
	$('#prevbutton').click(prev_page);
	$('#gobutton').click(go_page);
	{% if not items %}
		var pbox = $('#{{ divid }}');
		pbox.data('startat', 0);
		load_page(pbox)
	{% endif%}
</script>