
{% load staticfiles %}
<div id="empty_stars"></div>
<div id="full_stars"></div>
    <link rel="stylesheet" type="text/css" href="{% static 'agora/ct.css' %}" /><link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<div id="container">
  <div id="fullstars" style="width:{{ percent }}%;">
      <!--<img src="{% static 'agora/img/emptystars.png' %}" height="20" width="100" />-->
  </div>
  <div id="emptystars">
      <!--<img src="{% static 'agora/img/stars.png' %}" height="20" width="50" />-->
  </div>
</div>