{% extends 'agora/base_template.html' %}
{% block title %}
Pick {{ rep.username }} as Representative for {{ current_topic }}
{% endblock %}

{% block body_block %}
    {% include "agora/topicpath/fullpath_ul.html" %}
    <h1>Confirm Representative</h1>
    <h4>Are you sure you want {{ rep.username }} to represent you for {{ current_topic }}</h4>
    {% include "agora/inc_user_micro.html" with user=rep %} {%  include "agora/inc_topic_micro.html" with topic=current_topic %}

        <form action="" method="post">
            {% csrf_token %}
             <input type="hidden" name="topic_id" value="{{ current_topic.id }}">
             <input type="hidden" name="representative_id" value="{{ rep.id }}">
        <input type="submit" value="Yes!"/>
    </form>

{% endblock %}