{% extends 'agora/base_template.html' %}

{% block title %}
{% if current_topic %}
    {{ current_topic.name }} : {{ post.name }}
{% else %}
    Post
{% endif %}
{% endblock %}

{% block head_block %}

{% endblock %}


{% block body_block %}

{% if post %}
    <p> in <a href="/agora/topics/{{ post.topic.id }}/">{{ post.topic.name }}</a></p>
    {% if post.parent %}
        <h4><a href="/agora/topics/{{ post.topic.id }}/posts/{{ post.parent.id }}">{{ post.parent.name }}</a></h4>
    {% endif %}
    <h2><a href="/agora/topics/{{ post.topic.id }}/posts/{{ post.id }}">{{ post.name }}</a></h2>
    - {{ post.author.username }}: {{ post.created_at }} <br>
    current vote average: {{ post.direct_value }} <br>
    current liquid average: {{ post.liquid_value }} <br>
    current vote sum: {{ post.direct_sum }} <br>
    current liquid sum: {{ post.liquid_sum }} <br>
    current direct vote count: {{ post.postvote_set.all|length }} <br>
    current liquid vote count: {{ post.liquid_vote_count }} <br>
    your vote: <br>
    <a href="/agora/topics/{{ post.topic.id }}/posts/{{ post.id }}/vote/">vote!</a><br>

    <form action="/agora/topics/{{ post.topic.id }}/posts/{{ post.id }}/quickvote/" method="post">
        {% csrf_token %}
    <input name="voteslider" id="slider1" type="range" min="0" max="100" step="10" style="position:relative; width:300px; height:20px; border:1px solid #cccccc;" />

        <input type="submit" value="Vote"/>
    </form>
    <br>

    <a href="/agora/topics/{{ current_topic.id }}/newpost/{{ post.id }}">Reply to Post</a>
    <h4>replies</h4>
    <p>sort method: {{ sort_method }} (
    <a href="/agora/topics/{{ current_topic.id }}/posts/{{ post.parent.id }}/sort/liquid_value/">liquid_value</a>
    <a href="/agora/topics/{{ current_topic.id }}/posts/{{ post.parent.id }}/sort/direct_value/">direct_value</a>
    <a href="/agora/topics/{{ current_topic.id }}/posts/{{ post.parent.id }}/sort/created_at/">created_at</a>
    )</p>
    <ul>
        {% for child_post in post.post_set.all|dictsortreversed:sort_method %}
            <li><a href="/agora/topics/{{ post.topic.id }}/posts/{{ child_post.id }}">{{ child_post.name }}</a></li>
        {% endfor %}
    </ul>

{% else %}
    <p> post not found </p>
{% endif %}
{% endblock %}