{% extends 'agora/base_template.html' %}
{% block title %}
Social Representation
{% endblock %}

{% block body_block %}
<a href="https://github.com/chozabu/MeshDemocAgora"><img style="position: absolute; top: 3.7em; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>

        <div class="title">
            <h1>VoteFlow</h1>
        </div>

    <p>Hi! If you know why you are here, head on over to the <a href="/agora/">/agora</a></p>
    <p>This is a Discussion & voting system inspired by Liquid Democracy </p>
    <iframe class="ilb" width="560" height="315" src="https://www.youtube.com/embed/fg0_Vhldz-8" frameborder="0" allowfullscreen></iframe>
    <br>
    <br>
    <p>The core Idea is that you can pick representatives - for single topics. <br>
        Your Representatives can pick people to represent them in the same or subtopics <br>
    Meaning your representatives have representatives, who have representatives, etc.
    <br>Particularly as you get deeper into sub-topics, a representative may be able to represent a massive number of people - through a chain of trust.
    <br>You are always able see what your representatives do, override their decisions - or replace them.
    </p>
    <h3>Shortcuts</h3>
    {% load staticfiles %}
    <div>
        <div class="ilb"><a href="/agora/all_topics/forcearrows/"><h3>Representation Map</h3>
            <hr><img src="{% static 'agora/img/fullreps.png' %}" /></a></div>
        <div class="ilb"><a href="/agora/posts/2/sankey/"><h3>Example Vote Results</h3>
            <hr><img src="{% static 'agora/img/physvote.png' %}" /></a></div>
        <div class="ilb"><a href="/agora/all_topics/"><h3>Topics</h3>
            <hr><img src="{% static 'agora/img/topictree.png' %}" /></a></div>
    </div>

    <h3>Friends</h3>
    <ul>
        <li><a href="http://www.changethefuture.co.uk/">Change The Future</a> - A community with shared motivations</li>
        <li><a href="http://vocaleyes.org/">VocalEyes</a> - A big inspiration to MeshDemocracy</li>
        <li><a href="https://represent.cc/">Represent</a> - A voting website with great data and a smooth UI</li>
        <li><a href="http://uniteddiversity.coop">United Diversity</a> - <a href="http://uniteddiversity.coop/2013/07/19/liquid-democracy-is-not-delegative-democracy/">explaning why this is *not* Liquid Democrac</a></li>
        <li><a href="http://retroshare.org">Retroshare</a> - A functional distributed F2F Networking Platform</li>
        <li><a href="http://Chozabu.org">Chozabu</a> - Developer of this page <a href="http://github.com/chozabu">github</a></li>
    </ul>


    <p>
    UserInfo <br>
    {% include "agora/inc_user.html" %}
    </p>

{% endblock %}
