{% extends 'agora/base_template.html' %}

{% block title %}
    Search
{% endblock %}


{% block body_block %}

    <h1>Search</h1>


    <h3>Results</h3>

    <div class="postlistintopics" data-table="Post" data-rtype="html"
         data-sortby="-liquid_sum" data-startat="0" data-template="api_post_list"
         data-filter='{"name__icontains":"{{ searchtext }}"}'>

        Sorting <select name="SortMethods" id="sortbox">
        <option value="-liquid_value">Rating</option>
        <option value="-liquid_sum">Top</option>
        <option value="-created_at">Newest</option>
        <option value="created_at">Oldest</option>
        <option value="-direct_value">Direct Rating</option>
        <option value="-direct_sum">Direct Top</option>
    </select>
        <button id="completed_toggle" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"
                autocomplete="off">
            Completed
        </button>
        <button id="gobutton" type="button" class="btn btn-info">
            Go
        </button>
        <ul id="topicslist" class="miniul">
            {% if post_list %}
                {% for post in post_list%}
                    <li>{% include "agora/inc_post_mini.html" with  post=post %}</li>
                {% endfor %}
            {% else %}
                <p> no Posts Found </p>
            {% endif %}
        </ul>
        <button id="prevbutton" type="button" class="btn btn-info">
            Previous
        </button>
        <button id="nextbutton" type="button" class="btn btn-info">
            Next
        </button>
    </div>
    {% if current_topic %}
        <a href="/agora/topics/{{ current_topic.id }}/newpost/">New Post</a>
    {% endif %}

    <script>
        //#/agora/basic_api/?table=Post&template=api_post_list&rtype=html&sortby=-liquid_sum&startat=39

        //console.log($(this)[0].id);
        //console.log($(this));
        function load_page(pbox) {
            var datain = {}
            datain['table'] = pbox.data('table');
            datain['sortby'] = pbox.find("#sortbox")[0].value;
            datain['startat'] = pbox.data('startat');
            datain['rtype'] = pbox.data('rtype');
            datain['template'] = pbox.data('template');
            var filter = [pbox.data('filter')];
            cbox = pbox.find("#completed_toggle")[0]
            console.log(cbox)
            //filter={};
            if ($(cbox).hasClass('active')) {
                console.log("checked");
                cfil = {}
                cfil['tag__liquid_value__gte'] = -.1;
                cfil['tag__name'] = "completed";
                filter.push(cfil)
                console.log(filter)
            } else {
                console.log("EMPTY");
                exclude = {}
                exclude['tag__liquid_value__gte'] = -.1;
                exclude['tag__name'] = "completed";
                datain['exclude'] = JSON.stringify(exclude);
                console.log("EXCLUDE");
                console.log(exclude)
            }
            console.log("FILTER");
            console.log(filter);

            datain['filter'] = JSON.stringify(filter);
            console.log(datain['filter']);
            $.ajax({
                url: "/agora/basic_api/"
                , data: datain
                , context: pbox,
                success: function (result) {
                    if (result.length > 200) {
                        $(this).find("#topicslist").html(result);
                    } else {
                        $(this).find("#topicslist").html(result);
                        console.log("RESULT TOO SMALL - empty")
                        var pbox = $(this);
                        var ns = pbox.data('startat') - 10;
                        if (ns < 0)ns = 0
                        pbox.data('startat', ns);

                    }
                }
            });


        }
        function next_page() {
            var pbox = $(this).parent();
            console.log("pbox");
            console.log(pbox);
            var ns = pbox.data('startat') + 10;
            if (ns < 0)ns = 0
            pbox.data('startat', ns);
            load_page(pbox)
        }
        function prev_page() {
            var pbox = $(this).parent();
            console.log("pbox");
            console.log(pbox);
            var ns = pbox.data('startat') - 10;
            if (ns < 0)ns = 0
            pbox.data('startat', ns);
            load_page(pbox)
        }
        function go_page() {
            var pbox = $(this).parent();
            pbox.data('startat', 0);
            load_page(pbox)
        }
        $('#nextbutton').click(next_page);
        $('#prevbutton').click(prev_page);
        $('#gobutton').click(go_page);
    </script>
{% endblock %}
