{% extends 'agora/base_template.html' %}

{% block title %}
    {{ current_topic.name }}
{% endblock %}


{% block body_block %}

    <h1>{{ current_topic.name }}</h1>

<p>sort method: {{ sort_method }} (
    <a href="/agora/topics/{{ current_topic.id }}/sort/liquid_value/">liquid_value</a>
    <a href="/agora/topics/{{ current_topic.id }}/sort/direct_value/">direct_value</a>
    <a href="/agora/topics/{{ current_topic.id }}/sort/created_at/">created_at</a>
    )</p>

    {% if user.is_authenticated %}
        {% if sub %}
            <p>Subscribed! (<a href="/agora/topics/{{ current_topic.id }}/subs/">unsub</a>)  </p>
        {% else %}
            <p>(<a href="/agora/topics/{{ current_topic.id }}/subs/">Subscribe?</a>)  </p>
        {% endif %}
        {% if rep %}
            Representitive: {{ rep.rep }}
        {% else %}
            No rep - pick one?
        {% endif %}
    {% endif %}
    <a href="/agora/topics/{{ current_topic.id }}/newrep">Pick Representative</a>
    <h3>Sub Topics</h3>

{% if topic_list %}
    <ul>
        {% for topic in topic_list %}
            <li>
                {% include "agora/inc_topic_mini.html" with  topic=topic %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No sub-topics found...</p>
{% endif %}

    <a href="/agora/topics/new/{{ current_topic.id }}/">New Topic</a>

    <h3>Posts</h3>
    {% if post_list %}
        <ul>
            {% for post in post_list|dictsortreversed:sort_method %}
                <li>{% include "agora/inc_post_mini.html" with  post=post %}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p> no Posts Found </p>
    {% endif %}
    {% if current_topic %}
        <a href="/agora/topics/{{ current_topic.id }}/newpost/">New Post</a>
    {% endif %}
{% endblock %}
