{% extends 'agora/base_template.html' %}

{% block title %}
    {{ current_topic.name }}
{% endblock %}


{% block body_block %}
    {% include "agora/topicpath/pathto_ul.html" %}

    <h2 id="topicstitle">{{ current_topic.name }}</h2>



    {% if user.is_authenticated %}
        {% if sub %}
            <p>Subscribed! (<a href="/agora/topics/{{ current_topic.id }}/subs/">unsub</a>) </p>
        {% else %}
            <p><a id="subscribeblink" href="/agora/topics/{{ current_topic.id }}/subs/"><button class="btn btn-info">Subscribe</button></a> </p>
        {% endif %}

        {% if rep %}
            Representitive: {{ rep.rep }}
            <br>
            <a id="newreplink" href="/agora/topics/{{ current_topic.id }}/newrep">
                <button class="btn btn-info">Change Representative</button>
            </a>
        {% else %}
            <a id="newreplink" href="/agora/topics/{{ current_topic.id }}/newrep">
                <button class="btn btn-info">Pick Representative</button>
            </a>
        {% endif %}
    {% endif %}
    <h3>Sub Topics</h3>

    {% if topic_list %}
        <div class="mincotopicholder">
            {% for topic in topic_list %}
                {% include "agora/inc_topic_micro.html" with  topic=topic %}
            {% endfor %}
        </div>.<br>
    {% else %}
        <p>No sub-topics found...</p>
    {% endif %}

    <a id="newtopiclink" href="/agora/topics/new/{{ current_topic.id }}/">
        <button id="newtopicbutton" type="button" class="btn btn-info">New Topic
        </button>
    </a>

    <div>
    <h3 style="display: inline-block">Posts</h3>
    {% if current_topic %}
        <a id="newpostlink" style="display: inline-block" href="/agora/newpost/?topic_id={{ current_topic.id }}">
            <button id="newpostbutton" type="button" class="btn btn-info">New Post
            </button>
        </a>
    {% endif %}
    </div>

    {% include 'agora/inc_post_list.html' with divid='mainpostlist' %}

{% endblock %}
