{% extends 'agora/base_template.html' %}

{% block title %}
    All Users
{% endblock %}

{% block head_block %}

{% endblock %}


{% block body_block %}
{{ selected_user }}
        <h4>All Users</h4>

    <ul class="miniul">
        {% for us in users %}
            <li>{% include "agora/inc_user_micro.html" with user=us %}
                <br>representing: {{ us.rep_from.all|length }}, Trusting: {{ us.rep_to.all|length }}
            <div style="clear: both"></div>
            </li>
        {% endfor %}
    </ul>


{% endblock %}