{% extends 'agora/base_template.html' %}

{% block title %}
    {{ selected_user.username }}
{% endblock %}

{% block head_block %}

{% endblock %}


{% block body_block %}
        <h2>{{ selected_user }}</h2>

    {% if own_profile %}
    {% if fb_ss %}
        <p>Connected with FaceBook!</p>
    {% else %}
        <p><a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Connect with Facebook</a></p>
    {% endif %}

    {% if goog_ss %}
        <p>Connected with Google!</p>
    {% else %}
       <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Connect with Google</a>
    {% endif %}
    {% endif %}

    <h4>Representees</h4>
    <ul class="miniul">
    {% for k, v in repping.items %}
        <li>{{ k.name }} ({{ v.cache.rep_cache }}) <br>
        <ul class="miniul">
            {% for i in v.people %}
                <li>{% include "agora/inc_user_micro.html" with user=i.author %}<div style="clear: both;" />    </li>

            {% endfor %}
        </ul>
        </li>
    {% endfor %}
    </ul>
    <br>

    <h4>Representitives:</h4>
    <ul class="miniul">
    {% for k, v in reps.items %}
        <li>{{ k.name }} <br>
        <ul class="miniul">
            {% for i in v %}
                <li>{{ i.rep }}</li>
            {% endfor %}
        </ul>
        </li>
    {% endfor %}
    </ul>
    <br>

    <h4>Posts</h4>
        <ul class="miniul">
        {% for child_post in selected_user.post_set.all %}
            <li>{% include "agora/inc_post_mini.html" with  post=child_post %}</li>
        {% endfor %}
    </ul>
    <br>


    <h4>Votes</h4>
    <ul class="miniul">
        {% for v in selected_user.postvote_set.all %}
            {% include "agora/inc_vote_mini.html" with  v=v %}
        {% endfor %}
    </ul>
    <br>

    <h4>Subscriptions</h4>
    <ul class="miniul">
        {% for subs in selected_user.subscription_set.all %}
            <li><a href="/agora/topics/{{ subs.topic.id }}/">{{ subs.topic.name }}</a></li>
        {% endfor %}
    </ul>
    <br>

    <h4>Topics Created</h4>
    <ul class="miniul">
    {% for topic in selected_user.topic_set.all %}
        <li>
            {% include "agora/inc_topic_mini.html" with  topic=topic %}
        </li>
    {% endfor %}
    </ul><br>

{% endblock %}