<button title="toggle showing filters" type="button" class="btn btn-info" data-toggle="collapse"
        data-target="#{{ filterdivid }}">
    Filters
</button>
<div id="{{ filterdivid }}" class="collapse">
<div id="filterproto" class="filteritem ilb">
    <select name="presetfilters" id="presetfilters">
        <option value='{"name__icontains":""}'>Name Contains ...</option>
        <option value='{"topic__id":"{{ current_topic.id }}"}'>This Topic</option>
        <option value='{"parent__id":null}'>No Parent</option>
        <option value='{"group__id":"{{ group.id }}"}'>This Group</option>
        <option value='{"name__icontains":""}'>Name Contains ...</option>
        <option value='{"tag__name":"completed","tag__liquid_value__gte":0}'>Marked Completed</option>
        <option value='{"tag__name":"completed","tag__liquid_value__lt":0}'>un-Marked Completed</option>
        <option value='{"author__id":{{ user.id }}}'>by Me</option>
    </select>
    <button id="removefilter" >X</button><br>
    <div id="postfilterrules" >
    <div id="postfilterpair" class="ruleitem" >
    <select name="postfilterbox" id="postfilterbox">
        <option value="name">Name</option>
        <option value="text">Text</option>
        <option value="author">author</option>
        <option value="liquid_value">Rating</option>
        <option value="liquid_sum">Sum</option>
        <option value="created_at">Date</option>
        <option value="direct_value">Direct Rating</option>
        <option value="direct_sum">Direct Sum</option>
        <option value="tag">Tags ...</option>
        <option value="group">Group ...</option>
        <option value="topic">Topic ...</option>
        <option value="parent">Parent ...</option>
    </select>

    <select name="tagfilterbox" id="tagfilterbox">
        <option value="name">Name</option>
        <option value="liquid_value">Rating</option>
        <option value="liquid_sum">Sum</option>
        <option value="created_at">Date</option>
        <option value="direct_value">Direct Rating</option>
        <option value="direct_sum">Direct Sum</option>
    </select>

    <select name="topicfilterbox" id="topicfilterbox">
        <option value="name">Name</option>
        <option value="id">ID</option>
    </select>

    <select name="groupfilterbox" id="groupfilterbox">
        <option value="name">Name</option>
        <option value="id">ID</option>
    </select>

    <select name="parentfilterbox" id="parentfilterbox">
        <option value="name">Name</option>
        <option value="id">ID</option>
    </select>

    <span id="strfiltercontainer">
    <select name="strfilterbox" id="strfilterbox">
        <option value="icontains">contains</option>
        <option value="">is</option>
    </select>
        <input type="text" id="strfilterval" />
    </span>


    <span id="floatfiltercontainer">
    <select name="floatfilterbox" id="floatfilterbox">
        <option value="gt">greater than</option>
        <option value="lt">less than</option>
        <option value="gte">equal or greater than</option>
        <option value="lte">equal or less than</option>
        <option value="">is</option>
    </select>
        <input type="number" id="floatfilterval" />
    </span>


    <span id="datefiltercontainer">
    <select name="datefilterbox" id="datefilterbox">
        <option value="">is</option>
        <option value="gt">greater than</option>
        <option value="lt">less than</option>
        <option value="gte">equal or greater than</option>
        <option value="lte">equal or less than</option>
    </select>
        <input type="datetime-local" id="datefilterval" />
    </span>

    <!--<div>
        <button id="check" >check</button>
        <span id="outbox" ></span>

    </div>-->
    </div>
    </div>
    <!--<button id="checkall" >check all</button>-->
    <span id="outboxall" ></span>
    <button id="removerule" >-</button>
    <button id="addrule" >+</button>
</div>



<div class="filterouterbox">
<button id="newfilterbutton">+</button> Filters:
<div id="currentfiltersbox">
</div>
    </div>
<div class="excludeouterbox">
<button id="newexcludebutton">+</button> Excludes:
<div id="currentexcludesbox">
</div>
    </div>
{% load staticfiles %}
    <script src="{% static 'agora/js/filtering.js' %}"></script>
    <script>
    {% if searchtext %}
        new_filter_from_json({"name__icontains":"{{ searchtext }}"});
    {% endif %}
	{% if filtertopic %}
        new_filter_from_json({"topic__id":"{{ filtertopic.id }}"});
	{% endif %}
	{% if current_topic %}
        new_filter_from_json({"topic__id":"{{ current_topic.id }}"});
	{% endif %}
	{% if group %}
        new_filter_from_json({"group__id":"{{ group.id }}"});
	{% endif %}
	{% if parentpost %}
        new_filter_from_json({"parent__id":"{{ parentpost.id }}"});
	{% endif %}
	{% if postfilter %}
	    console.log("*********");
        new_filter_from_json({"parent":null});
	    console.log("*********");
	{% endif %}
	{% if not showcompleted %}
	new_exclude_from_json({"tag__name":"completed", "tag__liquid_value__gte": 0});
	{% endif %}

     </script>
</div>
