{% extends 'agora/base_template.html' %}

{% block title %}
    Wall of Ideas
{% endblock %}


{% block head_block %}

<!-- load D3js -->
<script src="http://www.d3plus.org/js/d3.js"></script>

<!-- load D3plus after D3js -->
<script src="http://www.d3plus.org/js/d3plus.js"></script>

{% endblock %}

{% block body_block %}

<h1>Wall Of Ideas</h1>

<p>This is a sytem to let you graph posts in voteflow - much like on the physical "wall of ideas"<br>
Though, rather than being limited to 2 fixed axies, you can customise! <br>
    Have a look at a graph of <a href="/agora/woi/#xaxis=liquid_sum&yaxis=tag__challenging__liquid_sum"
            onclick="read_from_url();testit();">
        Posts popularity and how challenging they are
    </a> <br>
    Or <a href="/agora/woi/#xaxis=direct_value&yaxis=liquid_value"
            onclick="read_from_url();testit();">
        The difference representation makes
    </a> <br>
    Perhaps <a href="/agora/woi/#xaxis=created_at&yaxis=liquid_sum"
            onclick="read_from_url();testit();">
        Time Posted, and rating
    </a>
</p>

X-Axis: {% include 'agora/posts/inc_dselect.html' with dselectdivid="xaxis" %}<br>
Y-Axis: {% include 'agora/posts/inc_dselect.html' with dselectdivid="yaxis" %}<br>

{% include 'agora/posts/inc_filter.html' with filterdivid="woithing" %}

<button onclick="testit()">Update</button>
<!-- create container element for visualization -->
<div style="height:500px;" id="viz"></div>

<div id="woisharediv">Shareable Link: <a id="woisharelink"></a> <br>
Filters not yet included in Link</div>

<script>
var keys = {};
    window.onkeydown = keydown;
    window.onkeyup = keyup;
    function keydown(e){
        keys[e.keyCode] = true;
        }
    function keyup(e){
        keys[e.keyCode] = false;
        }
function getHashValue(key) {
  var matches = location.hash.match(new RegExp(key+'=([^&]*)'));
  return matches ? matches[1] : null;
}
function read_from_url(){
            var xain = getHashValue("xaxis");
            var yain = getHashValue("yaxis");
            if(xain)set_dselects("#xaxis", xain);
            if(yain)set_dselects("#yaxis", yain);
            console.log(xain, yain);
            console.log("\n\n\n");
}
read_from_url();
$( document ).ready(function() {
    if(getHashValue("xaxis") == null){
    $('#yaxis').find('#postdselectbox')[0].value = "liquid_sum";
    $('#xaxis').find('#postdselectbox').trigger('change');
    $('#yaxis').find('#postdselectbox').trigger('change');
    }
});
function sanitizeString(str){
    str = str.replace(/[^a-z0-9áéíóúñü \.,_-]/gim,"");
    return str.trim();
}

  // sample data array
  var sample_data = [
    {"x": 100, "y": .45, "name": "Loading...", "id":100}
  ]
    function testhcb(a, b){
        return "ASDASD";
    }

    var test_html = function (item) {
        //alert(item);
        console.log("17, ",keys[17]);
        if (keys[17]){
            window.open("/agora/posts/"+item, '_blank');;
        }else{
            window.location.href = "/agora/posts/"+item;
            //window.open("/agora/posts/"+item);
        }
        return "Tooltip";
    }

  var htmlButton = "<a id='google' href='http://www.google.com' target='_blank'>Click here to go to Google</a>"
  // instantiate d3plus
  var visualization = d3plus.viz()
    .container("#viz")  // container DIV to hold the visualization
    .data(sample_data)  // data to use with the visualization
    .type("scatter")    // visualization type
    .id("id")         // key for which our data is unique on
    //.tooltip({"html": testhcb()})
    //.labels({"text":"name"})
    .text("name")
    .x("x")         // key for x-axis
    .y("y")        // key for y-axis
    .tooltip({"html": test_html})
    //.tooltip(test_html)
    //.zoom({click:true})
    .draw()             // finally, draw the visualization!
  setTimeout(testit, 2000);
    function setLabels(){
		$('#d3plus_graph_ylabel')[0].textContent=
		 "Y: " + dselect_rdict[$('#yaxis').find('#postdselectbox')[0].value];
		$('#d3plus_graph_xlabel')[0].textContent=
		"X: " + dselect_rdict[$('#xaxis').find('#postdselectbox')[0].value];

    }
    function testit(){
          var filter = [];
          var exclude = [];
            customfilters = get_filters("#woithing", "#currentfiltersbox");
            console.log("customfilters: ", customfilters);
            for (f in customfilters){
                filter.push(customfilters[f]);
            }

            customexcludes = get_filters("#woithing", "#currentexcludesbox");
            for (e in customexcludes){
                exclude.push(customexcludes[e]);
            }



            var datain = {"length":50};
            datain['filter'] = JSON.stringify(filter);
            datain['exclude'] = JSON.stringify(exclude);
            datain['xval'] = get_dselects("#xaxis");
            datain['yval'] = get_dselects("#yaxis");
            console.log("data sending: ", JSON.stringify(datain));
            $('#woisharelink')[0].href = "/agora/woi/#xaxis=" +datain['xval'] +
                "&yaxis=" +datain['yval']
            $('#woisharelink')[0].textContent = $('#woisharelink')[0].href;

    		$.ajax({
			url: "/agora/woi_query/"
			, data: datain,
			//, context: pbox,
			error: function (result) {
				console.log(result)
				$('body')[0].textContent = result.responseText;
			},
			success: function (result) {
			    data = result.data
				console.log(data)
				if (typeof data[0].x == 'string'){
				for (r in data){
				data[r].x = new Date(data[r].x)
				}}
				if (typeof data[0].y == 'string'){
				for (r in data){
				data[r].y = new Date(data[r].y)
				}}
				console.log(data)
		visualization
			.data(data)  // data to use with the visualization
			.draw()             // finally, draw the visualization!*/
		setLabels();
        setTimeout(setLabels, 1000);

				}
		});
		}
  setTimeout(testit, 1000);

</script>
{% endblock %}

