{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'agora/css/hallo.css' %}"/>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css"/>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
<script src="http://rangy.googlecode.com/svn/trunk/currentrelease/rangy-core.js"></script>
<script src="http://rangy.googlecode.com/svn/trunk/currentrelease/rangy-selectionsaverestore.js"></script>

<script src="{% static 'agora/js/hallo-min.js' %}"></script>
<script src="{% static 'agora/js/showdown.js' %}"></script>
<script src="{% static 'agora/js/to-markdown.js' %}"></script>
<script src="{% static 'agora/js/jquery.htmlClean.min.js' %}"></script>
<script src="{% static 'agora/js/wweditor.js' %}"></script>
